extends layout

block content
  .body-section
    h2 Here's how you use it:
    h3.index-align Start a Session from the navbar:
    p Select the mood you're in currently from the dropdown buttons. Try to be as specific as the menus will allow.  
    div.page-image
      img.home-image(src="/images/entry-mood-slide2.svg")
    h3.index-align Interact with the digital instrument:
    p While you click around inside the instrument you should try to notice how your thoughts relate to the words in the box. For example if you're thinking about goals you're trying to accomplish at work click in the "Goals" section. As your thoughts wander try to relate where your go in relation to the words in the instrument. 
    div.page-image
      img.home-image(src="/images/instrument-slide2.svg")
    h3.index-align Enter your mood and if you noticed a mood shift:
    p Were most of your thoughts surrounding some behaviours you're trying to change? Were your thoughts more around the stories that you tell yourself about yourself? This page is a great chance to enter in some meaningful information about your experience in the moments you spent playing around with the instrument. Make sure to click the button for if you experienced a shift in your mood or not.
    div.page-image
      img.home-image(src="/images/exit-mood-slide2.svg")
    h3.index-align Track your session information:
    p Over time you will be able to see what you thinking about during every session you've done. This can be very useful if you're trying to see subtle changes over time. Mozart wasn't Mozart over night ya know. It took time to grow into the wonderful person you are and it takes time to develop and break bad habits. If you track your behaviors and thoughts over time you'll start to notice your patterns and either accentuate what you wanna keep and eliminate what you wanna leave behind.
    div.page-image
      img.home-image(src="/images/profile-page-slide2.svg")
    h3 Features:
    h4 Interactive Digital Instrument
    h4 Display your information from each session
    h4 See changes that occur over time
    h4 Playback the track you created
    h4 Listen back to the track you modal-header
    h4 Track your interaction with the instrument 
    h4 Use the tools to blossom into the amazing you are
    h4 Help yourself realize where you could use improvement with yourself 
    h3 Who it's for
    h4 People who are interested in personal growth
    h4 Counselors and Therapists looking for tools to help their clients grow
    







