extends layout

block content
   
  .instrument-session-settings.row
  .row
    .col-xs-4.align-instrument-icons
      img(src='./images/mic.svg')
    .col-xs-4.align-instrument-icons
      img(src='./images/radio-checked.svg')
    .col-xs-4.align-instrument-icons
      img(src='./images/settings.svg')
  .instrument-container.row
  .row
    .col-md-10.col-md-offset-1
      button.btn.btn-primary.btn-lg.btn-block#finish-instrument(type='button') Finish 


