extends layout-nonav

block content
    
    .instrument-session-settings.row
    .row
      .col-xs-4.align-instrument-icons
        //- img(src='./images/mic.svg')
        h3 click on the words and notes will change colors
      .col-xs-4.align-instrument-icons
        //- img(src='./images/radio-checked.svg')
        h3 pads will start playing when you hover over the sections
      .col-xs-4.align-instrument-icons
        //- img(src='./images/settings.svg')
        h3 when you're done click finish and follow the prompts
    .instrument-container.row
    .row
      .col-md-10.col-md-offset-1
        button.btn.btn-primary.btn-lg.btn-block#finish-instrument(type='button') Finish 


