extends layout

block content
  .main-container
    .home-container
      .instrument-container
      .row
        .col-md-10.col-md-offset-1
          button.btn.btn-primary.btn-lg.btn-block(type='button') Exit
      
    