doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    title Emotetron9000
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="main.css") 
    link(href="http://fonts.googleapis.com/css?family=Dorsa" rel='stylesheet' type='text/css')
  
  block content



  script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
  script(src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js')
  script(src='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.js')
  script(src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.2/js/material.min.js")
  script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/howler/1.1.25/howler.min.js')
  script(src='main.js')
  
//- https://github.com/FezVrasta/bootstrap-material-design/blob/master/package.json
//- do I need to add package json