doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    title Moodevator
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="main.css")  
  
  block content



  script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
  script(src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js')
  script(src='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.js')
  script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/howler/1.1.25/howler.min.js')
  script(src='main.js')