doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    title Emotetron9000
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="../main.css") 
    link(href="http://fonts.googleapis.com/css?family=Dorsa" rel='stylesheet' type='text/css')
  body
    .main-container
      //- #splash-container
        //- Error comes through via the context passed when calling res.render('login', {...})
        //- You'll see this in controllers/authentication.js
        //- If the error exists, we'll display it.
        if error
          h3= error
          
      .row  
        .col-xs-12.login-logo-align 
          img.logo(src='../images/emotetron9000_logo5.svg') 
      //- Form for handling existing user logins.
      .row
        .col-xs-6
          h1.splash-header Sign In
          form(action="/auth/login", method="post")
            div.form-group
              input#userNameSignInForm.form-control(type='text', name="username", placeholder='User Name')
            div.form-group
              input#passwordSignInForm.form-control(type='password', name="password", placeholder='Password')
            button.btn.btn-primary(type='submit') Sign in 

        //- Form for allowing new users to register.
        .col-xs-6
          h1.splash-header Create Your Account
          form(action="/auth/signup", method="post", autocomplete="off")
           div.form-group
             input#userNameCreateAccount.form-control(type='text', name="username", placeholder='User Name')
           div.form-group
             input#passwordCreateAccount.form-control(type='password', name="password", placeholder='Password', autocomplete="off")
           div.form-group
             input#emailCreateAccount.form-control(type='email', name="email", placeholder='Email', autocomplete="off")
           h4
             label(for="personal-radio") Personal
             | &nbsp;
             input#personal-radio(type='radio', name="userType", value="personal", checked) 
             br
             label(for="admin-radio") Administrative
             | &nbsp;
             input#admin-radio(type='radio', name="userType", value="admin")
             br
             button.btn.btn-primary(type='submit') Submit