extends layout

block content
  .main-container
    .home-container
        .row
          .col-xs-6
            h1 Profile
            .goals-mood-most-recent
              h2 Most Recent Session
              ul
                li Date/Time:
                li Starting Mood:
                li Goal:
                li Ending Mood:
                li What's holding you back: