/*------------------------ GLOBAL STRUCTURE ---------------------------*/
body {
  background-color: lightgrey;
}
.main-container {
  margin: auto;
  width: 100%;
  max-width: 960px;

}
.home-container {
  text-align: left;
  width: 100%;
  margin: auto;
}
.header {
  display: block;
  
}
.color {
  background-color: transparent;
  border: none;
}
#header-title {
  padding-right: 20px;
}
.body-section {
  margin-left: 15px;
}
.body-section h3 {
  color: #777;
  font-size: 1.2em;
  text-decoration: underline;
}
.body-section p {
  font-size: .8em;
  text-decoration: none;
}


/*------------------------- GLOBAL STYLING -----------------------------*/
.quad-word {
  font-family: 'Dorsa', sans-serif;
  text-align: center;
  color: #777;
  position: absolute;
  /*font-size: 10em;*/
}


/*---------------------- MOOD SELECTION SECTION ----------------------*/
#happy {
  background-color: #8cff8c;
}
#excited {
  background-color: #ffc48c;
}
#tender {
  background-color: #ffc6ff;
}
#scared {
  background-color: #ffffb1;
}
#angry {
  background-color: #ff8c8c;
}
#sad {
  background-color: #a5dbff;
}
#choose-mood {
  text-align: center;
}
#start-mood {
  display: none;
}
#exit-mood {
  display: none;
}
.emotion-button {
  /*width: 15.5%;*/
  height: 100%;
  border-radius: 7px;
  padding: 5px;
  margin: auto;
  display: inline-block;
}

.mood-chooser-entry-click-box {
  width: 90%;
  /*height: 40px;*/
  margin: auto;
  background-color: none;
  /*border: 2px solid black; */
  border-radius: 5px;
}

.goal-entry-box {
  width: 90%;
  height: 40px;
  margin: auto;
  background-color: ghostwhite;
  border: 2px solid black; 
  border-radius: 5px;
  display: inline-block;
}

.form-goal {
  width: 100%;

}

#goal-input {
  width: 100%;
}


.drop-down-style {
  left: 15px;
  right:15px;
  margin: 0px;
}




/*----------------------------- INSTRUMENT STRUCTURE ------------------------*/
.instrument-container {
  background: url('./images/pastel_colorwheel.jpg') no-repeat;
  background-position: center;
  background-size: 200% 200%;
  background-opacity: 60%;
  margin: auto;
  /*padding-top: 10px;*/
  width: 100%;
  border: 10px solid grey;
  border-radius: 20px; 
}




/*-------------------------- INSTRUMENT  ----------------------*/

.OBSTACLES-pad {
   background: url('./images/obstacles2.svg') no-repeat;
   background-position: center;
   background-size: 80% 80%;
   
}
.GOALS-pad {
  background: url('./images/goals2.svg') no-repeat;
   background-position: center;
   background-size: 80% 80%;
  
}
.STORIES-pad {
  background: url('./images/stories2.svg') no-repeat;
   background-position: center;
   background-size: 80% 80%;
  
}
.VALUES-pad {
  background: url('./images/values2.svg') no-repeat;
   background-position: center;
   background-size: 80% 80%;
  
}

.top-left-quad {
  /*border-top: 2px solid black;*/
  /*border-left: 2px solid black;*/
  /*border-right: 1px solid black;*/
  /*border-bottom: 1px solid black;*/
  /*border-radius: 5px;*/
}
.top-right-quad {
  /*border-top: 2px solid black;*/
  border-right:2px solid black;
  /*border-left: 1px solid black;*/
  /*border-bottom: 1px solid black;*/
  /*border-radius: 5px;*/
}
.bottom-left-quad {
  /*border-top: 1px solid black;*/
  border-left:2px solid black;
  /*border-right: 1px solid black;*/
  border-bottom: 2px solid black;
  /*border-radius: 5px;*/
}
/*.bottom-right-quad {
  border-top: 1px solid black;
  border-right:2px solid black;
  border-left: 1px solid black;
  border-bottom: 2px solid black;
  border-radius: 5px;
}*/
/*.pad {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0px;
}*/



/*-------------------------- INNER HEX NOTES -------------------------*/
.note-btn-container{
 
}
.note-btn {
 background-color: transparent;
 padding: 0px;
 border-radius: 100px;
}

.note-btn div {
  background-color: none;
  opacity: .3;
  width: 100%;
  height: 80px;
  border-radius: 5px;
  transition: all 0.5s;
}
/*.note-btn:active {
  padding: 33px;
  color: lightgrey;
  border: 1px solid darkgrey;
  margin: 8px;
}*/




/*------------------------------- FOOTER ----------------------------*/

.exit-instrument {
  width: 100%;
  padding: 10px;
  background-color: lightgrey;
  text-align: center;
  margin: auto;
  
}



/*------------------------ PROFILE PAGE STRUCTURE -----------------------*/
/*.profile-container {
  text-align: center;
  width: 75%;
  margin: auto;
}
.profile-container h1 {
  text-align: left;
}*/

/*Using the same structure as .home-container*/

/*--------------------------- MOOD & GOALS DATA --------------------------*/
.goals-mood-most-recent h2 {
  text-align: center;
}

.goals-mood-most-recent ul li {
  list-style: none;
  text-align: left;
}






/*-------------------------- AUDIO DATA CHARTS ------------------------------------*/






/*--------------------------- LINKS -------------------------------------------*/





/*--------------------------- FOOTER ----------------------------------------*/



















